.frame{
  display: grid;
  grid-template-areas: 'disp disp disp disp disp'
                        'on clear delete openBracket closeBracket'
                        '7 8 9 divide percent'
                        '4 5 6 multiply power'
                        '1 2 3 minus plus'
                        '00 0 point equal plus';
  grid-template-rows:repeat(6,1fr);
  grid-template-columns:repeat(5,1fr);
  height:500px;
  width:500px;
  grid-gap:10px;
  position:relative;
}
.frame div{
  border: solid black 1px;
}
.disp{
  grid-area:disp;
}
.plus{
  grid-area:plus;
}
